/programming-fundamentals/JavaApplication2/nbproject/private/
/programming-fundamentals/module-3/JavaApplication2/nbproject/private/
/programming-fundamentals/module-3/JavaApplication2/build/
/programming-fundamentals/Assignment3_1/nbproject/private/
/programming-fundamentals/module-3/Assignment3_1/build/
/programming-fundamentals/module-3/Assignment3_1/dist/
/programming-fundamentals/Assignment3_2/nbproject/private/
/programming-fundamentals/module-3/Assignment3_2/nbproject/private/
/programming-fundamentals/module-3/Assignment3_2/build/
/programming-fundamentals/module-3/Assignment3_2/dist/
/programming-fundamentals/module-3/Assignment3_mshofner83/Assignment3_1/build/
/programming-fundamentals/module-3/Assignment3_mshofner83/Assignment3_1/dist/
/programming-fundamentals/module-3/Assignment3_mshofner83/Assignment3_1/nbproject/private/
/programming-fundamentals/module-3/Assignment3_mshofner83/Assignment3_2/build/
/programming-fundamentals/module-3/Assignment3_mshofner83/Assignment3_2/dist/
/programming-fundamentals/module-3/Assignment3_mshofner83/Assignment3_2/nbproject/private/
/programming-fundamentals/module-3/Assignment3_mshofner83 2/Assignment3_1/build/
/programming-fundamentals/module-3/Assignment3_mshofner83 2/Assignment3_1/dist/
/programming-fundamentals/module-3/Assignment3_mshofner83 2/Assignment3_1/nbproject/private/
/programming-fundamentals/module-3/Assignment3_mshofner83 2/Assignment3_2/build/
/programming-fundamentals/module-3/Assignment3_mshofner83 2/Assignment3_2/dist/
/programming-fundamentals/module-3/Assignment3_mshofner83 2/Assignment3_2/nbproject/private/
/programming-fundamentals/Assignment4/nbproject/private/
/programming-fundamentals/module-4-methods/Assignment4_mshofner83/Assignment4/build/