  /* TODO: each of the 3 sections should take up equal amount of space on the screen */
  /* TODO: As you make the browser window wider or narrower, each section should become wider or narrower. (Hint: use percentages to define width and use the 'float' property. See Lecture 24) */
/* Desktop version of the site when the width of the browser window is 992px and above */
@media (min-width: 992px) {
  body {
    background-color: green;
  }
}


  /* TODO: Layout: In the tablet view (between 768px and 991px, inclusively), the first 2 sections should be in the first row and be of equal size. The 3rd section should be in the second row and take up the entire row by itself */
/* Tablet view should appear only if the width of the browser window is between 768px and 991px, inclusively */
@media (min-width: 768px) and (max-width: 991px){
  body {
    background-color: red;
  }
}


  /* TODO: 10. Layout: In the mobile view (equal to or less than 767px), each section should take up the entire row. For a visual reference of this view, see the mobile mockup illustration below. */
/* Mobile view should appear only if the width of the browser is equal to or less than 767px. */
@media (max-width: 767px){
  body {
    background-color: blue;
  }
}



/* TODO: Section title region: Each section should have a section title region that is always positioned at the top right corner of the section no matter the view (desktop, tablet or mobile).
  Copy the titles from the mockup illustration (i.e., Chicken, Beef, Sushi) or come up with your own. (Hint: use relative and absolute positioning and offsets as discussed in Lecture 22.) */
.block {
  float: left;
  width: 30%;
}
