.main-header {
    color: white;
    text-align: center;
    height: 130px;
    width: 100%;
    background-image: url("3header.jpg");


}

h1 {
    padding: 25px 0px 0px 0px;
}

.signpost {
    margin: auto;
    width: 50%;
}
