<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .greenFont { color: green; border: 1px solid green;}
      .redFont { color: red; border: 1px solid red;}
    </style>
  </head>
<body>
  <div ng-controller="lunchCheckerController">
    <div class="container">
      <h1>Lunch Checker</h1>
      <div class="form-group">
        <input
          id="lunch-menu"
          type="text"
          placeholder="list comma separated dishes you usually have for lunch"
          class="form-control"
          ng-model="dishes"
        >
      </div>
      <div class="form-group">
        <button class="btn btn-default" ng-click="considerDishes()">Check If Too Much</button>
      </div>
      <div class="form-group message" ng-class="[responseFontColor]">
        {{dishesResponse}}
      </div>
    </div>
  </div>
</body>
</html>
